body
  h3 NRT-SC140
  div non-realtime sc140 sound file generator
  #notification
  #codewrap
    #codetitle
    textarea#code
  #stdoutwrap
    #stdouttitle sclang stdout
    textarea#stdout 
  #buttons
    button#generate Generate
    button#stop Stop
  #player

