#validationerror{
  margin:5px;
  background:yellow;
}
#codewrap{
  margin:10px;
  width:45%;
  float:left;
}
#code{
  width:100%;
  height:250px;
}
#stdoutwrap{
  margin:10px;
  width:45%;
  float:left;
}
#stdout{
  width:100%;
  height:250px;
}
#buttons{
  margin:10px;
  clear:left;
}
#player{
  margin:10px;
}
A{
  margin:5px;
}
